body{
	padding: 0px !important;
	margin: 0px !important;
}
h1{
	font-size: 36pt;
}

.white-text{
	color: white;
}
.navbar-header .navbar-toggle .icon-bar{
	background-color: white;
}
.navbar-default{
	background-color: #bd0f21 !important;
	border-radius: 0px !important;
	padding: 0 !important;
}
.container-custom{
	width: 85%;
	border-radius: 4px;
	background-color: hsla(360, 0%, 68%, .68);
	padding-bottom: 10px;
}

.featured{
	border-radius: 3px;
	border: gray 1 solid;
}
.container-results{
	overflow: hidden;
	white-space: nowrap;
	padding: 10px;
	border-radius: 3px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
hr{
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
}
.mbookInfo{
	overflow: hidden;
	white-space: nowrap;	
	float: left;
	max-width: 55%;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.mimg{
	float: left;
}
.item{
	position: relative;
	margin: 15px;
	height: auto;
	clear: both;
}
.item img{
	height: 120px;
	width: 100px;
}
.bookInfo{
	/*width: 100%;*/
	position: absolute;
	left: 125px;
	top: 15px;
	margin-bottom: 2px;
	padding-left: 10px;
}
.title{
	font-size: 14pt;
	font-style: bold;
	margin-bottom: 8px;
}
.author, .ed, .isbn{
	font-style: italic;
	margin-bottom: 0;
	margin-left: 10px;
}
.info{
	position: relative;
	margin: 0px;
	margin-bottom: 15px;
	width: 100%;
}
.info-container{
	white-space: nowrap;	
	position: relative;
	width: 100%;
	border-bottom: #AFADAD 1px solid;
	margin-bottom: 0px;
	padding-left: 5%;
	box-shadow: 0px 2px 2px gray;
}
.info img{
	height: 150px;
	width: 120px;
}
.sellers{
	max-width: 1100px;
	height: 600px;
	/*border: #AFADAD 1px solid;*/
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 0;
}
.seller{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-bottom: gray 1px solid;
	margin-top: 10px;
	width: 100%;
	padding-left: 5px;
	padding-right: 10px;
}
.seller p{
	display: inline-block;
	text-align: center;
}
.price{
	margin-left: 10px;
	font-size: 12pt;
}
.buy{
	font-size: 12pt;
}
.condition{
	font-size: 12pt;
}
.pop{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1 !important;
}
.header{
	font-size: 10pt;
	margin-left: 5px;
	text-align: center;
}
#email{
	padding-top: 7px;
}
#price{
	padding-top: 7px;
}
#isbnInput{
	padding-top: 5px;
}
#vCode{
    width:11em;
}
#codesubmit{
    width:5.7em;
}

.form-left{
    padding-right:10px;
    padding-top:2px;
    text-align:right;
    position:relative;
    float:left;
    width:40%;
}

.form-right{
    position:relative;
    float:left;
    width:60%;
}

.centered{
    width:17em;
    margin: 0.5em auto;
}
.verificationcode{
    width:100%;
    margin: 1.25em auto 0 auto;
}


.clearer{
    clear:both;
}
