body{
	padding: 0px;
}
h1{
	font-size: 36pt;
}
.white-text{
	color: white;
}
.navbar-header .navbar-toggle .icon-bar{
	background-color: white;
}
.navbar-custom{
	background-color: hsla(354, 85%, 40%, 0.75);
}
.container-custom{
	width: 85%;
	border-radius: 4px;
	background-color: hsla(360, 0%, 68%, .68);
	padding-bottom: 10px;
}

.featured{
	border-radius: 3px;
	border: gray 1 solid;
}
.container-results{
	padding: 10px;
	border: #AFADAD 1px solid;
	border-radius: 3px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.item{
	position: relative;
	margin: 15px;
}
.item img{
	height: 150px;
	width: 120px;
}
.bookInfo{
	position: absolute;
	left: 125px;
	top: 15px;
	margin-bottom: 2px;
	padding-left: 10px;
}
.title{
	font-size: 14pt;
	font-style: bold;
	margin-bottom: 8px;
}
.author, .ed, .isbn{
	font-style: italic;
	margin-bottom: 0;
	margin-left: 10px;
}